@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #2C3E50;
}


.container .main-container {
    width: 100%;
    max-width: 860px;
    background-color: #ffffff;
    padding: 60px;
    margin: 50px auto;
    border-radius: 24px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
    align-items: center;
    justify-content: center;
}

/* Title */
.container .main-container h1 {
    margin-bottom: 24px;
    color: #1b2a41;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

/* Editor Wrapper */
#editor-wrapper {
    border: 1px solid #e5e2d8;
    border-radius: 16px;
    overflow: hidden;
}

/* Button Styles */
.run-btn,
#submit-inputs-btn {
    width: 100%;
    background: #50e3c2;
    color: #1b2a41;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 18px;
    border-radius: 12px;
    transition: background 0.3s ease;
}

.run-btn:hover,
#submit-inputs-btn:hover {
    background: #2dd8a3;
}

/* Output Box */
.output-container {
    margin-top: 24px;
    background: #121212;
    padding: 20px;
    border-radius: 16px;
    font-size: 14px;
    border: 1px solid #e2e2e2;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #e0e0e0;
    max-height: 360px;
    overflow-y: auto;
}

/* CodeMirror Customization */
.CodeMirror {
    height: 300px !important;
    font-size: 15px;
    background: #ffffff;
    color: #1b1b1b;
    border-radius: 0 0 16px 16px;
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    background: transparent;
}

.CodeMirror-vscrollbar div,
.CodeMirror-hscrollbar div {
    background-color: #ccc;
    border-radius: 10px;
}

/* Input Fields */
.input-group,
#output {
    display: flex;
    flex-direction: column;
    gap: 14px;
    white-space: pre-wrap;
}

.user-input {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
    background: #ffffff;
    color: #1b2a41;
    margin-top: 4px;
    transition: border-color 0.3s ease-in-out;
}

.user-input:focus {
    border-color: #50e3c2;
}

/* Input Group Container */
.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
