@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(to bottom right, #f4e8d5, #b7e4c7, #90cdf4);
    color: #1b2a41;
}

/* Header */
.header {
    margin-top: 20px;
    background: #ffffff;
    color: #1b2a41;
    text-align: center;
    border-radius: 16px;
    padding: 1.5rem 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-bottom: 6px solid #00cdac;
}

.header .title .main-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.header .title .sub-title {
    font-size: 15px;
    color: #6c757d;
}

.header .title .sub-title span {
    color: #999;
}

/* Language Switcher */
.container .language {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 6px solid #00cdac;
    margin: 0 20px;
}

.lang-item {
    padding: 12px;
    width: 32%;
    font-size: 16px;
    font-weight: 600;
    background-color: #fef9ef;
    color: #1b2a41;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
    cursor: pointer;
}

.lang-item:hover {
    background-color: #e0f2f1;
}

.lang-item i {
    font-size: 1.4rem;
    margin-right: 6px;
}

.lang-item.active {
  background-color: #FFD700;
  color: #000;
}

/* Editors */
.editor {
  flex: 1;
  min-width: 200px;
  max-width: 33.33%;
  background-color: #000;
  border: 1px solid #444;
  border-radius: 6px;
  overflow: hidden;
}


.editor #html {
    border-right: 1px solid #ddd;
}

.editor #css {
    border-left: 1px solid #eee;
    border-right: 1px solid #ddd;
}

.editor #js {
    border-left: 1px solid #eee;
}

.code-box {
  display: flex;
  gap: 8px;
  height: auto;
  padding: 10px;
  border-bottom: 10px solid #FFD700;
  background-color: #1e1e1e;
  overflow-x: auto;
}


/* Preview Section */
.preview {
    position: relative;
    height: calc(90vh - 30px);
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    box-shadow: inset 0 0 0 1px #e6f4f1;
    border-radius: 12px;
    margin: 20px;
}

.preview iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 20px;
}